{
  "inbounds": [
    {
      "port": {{ v2_ws_port }},
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "{{ v2_uuid }}",
            "alterId": 0
          }
        ]
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/websocket",
          "maxEarlyData": 2048,
          "earlyDataHeaderName": "Sec-WebSocket-Protocol"
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
