{
  "inbounds": [
    {
      "port": {{ v2_ws_port }},
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "{{ app_uuid }}",
            "alterId": 0
          }
        ]
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/websocket",
          "maxEarlyData": 2048,
          "earlyDataHeaderName": "Sec-WebSocket-Protocol"
        }
      }
    },
    {
      "port": {{ v2_grpc_port }},
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "{{ app_uuid }}",
            "alterId": 0
          }
        ]
      },
      "streamSettings": {
        "network": "grpc",
        "grpcSettings": {
          "serviceName": "v2grpc"
        },
        "security": "tls",
        "tlsSettings": {
          "certificates": [
            {
              "certificateFile": "/etc/v2ray/server.crt",
              "keyFile": "/etc/v2ray/server.key"
            }
          ]
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
