version: "3"

services:
  sub:
    build: ./sub
    restart: unless-stopped
    ports:
      - "127.0.0.1:8002:8002"
    environment:
      - ADMIN_PASSWORD
      - REG_PASSWORD

  tgbot:
    build: ./TGBot
    restart: unless-stopped
    ports:
      - "127.0.0.1:8001:8000"
    environment:
      - BOT_TOKEN
      - CHAT_ID
      - PUSH_KEY
      - SELF_URL
      - SECRET_TOKEN
    volumes:
      - /opt/nju.txt:/app/nju.txt

  tgrss:
    image: rongronggg9/rss-to-telegram:dev
    restart: unless-stopped
    volumes:
      - /opt/tgrss:/app/config
    environment:
      - TOKEN
      - MANAGER
  
  log_forward:
    build: ./log_forward
    restart: unless-stopped
    environment:
      - LOKI_TOKEN
