[Unit]
Description=Hysteria Server Service
After=network.target

[Service]
Type=simple
DynamicUser=yes
ExecStart=/opt/hy/hysteria2 server --config /opt/hy/config.yml
WorkingDirectory=/opt/hy
Environment=HYSTERIA_LOG_LEVEL=info
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
