[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
NoNewPrivileges=yes
TimeoutStartSec=0
ExecStart=cloudflared tunnel --edge-ip-version auto --protocol http2 --metrics 127.0.0.1:2333 --no-tls-verify --url http://127.0.0.1:4443
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
