{
    order replace after encode
}

sub.{{ misc_domain }} {
    reverse_proxy 127.0.0.1:8000
}

captcha.{{ misc_domain }} {
    reverse_proxy 127.0.0.1:9898
}

bot.{{ misc_domain }} {
    reverse_proxy 127.0.0.1:8001
}

# Google 一直跳验证码
# g.{{ misc_domain }} {
#     reverse_proxy https://www.google.com {
#         header_up Host www.google.com
#         header_up Accept-Encoding identity

#         header_down -Content-Security-Policy
#     }

#     replace {
#         "//en.wikipedia.org" "//wiki.{{ misc_domain }}"
#         "//zh.wikipedia.org" "//wikizh.{{ misc_domain }}"
#         "//github.com" "//gh.{{ misc_domain }}"
#     }
# }

gh.{{ misc_domain }} {
    @noAuth not header Authorization "Basic bHljOg=="
    header @noAuth WWW-Authenticate "Basic realm=\"Username required\""
    error @noAuth "Unauthorized" 401

    reverse_proxy https://github.com {
        header_up Host github.com
        header_up Accept-Encoding identity

        header_down Location "https://raw.githubusercontent.com" "https://ghraw.{{ misc_domain }}"
        header_down -Content-Security-Policy
    }

    replace {
        "//github.com" "//gh.{{ misc_domain }}"
    }
}

ghraw.{{ misc_domain }} {
    reverse_proxy https://raw.githubusercontent.com {
        header_up Host raw.githubusercontent.com
        header_down -Content-Security-Policy
    }
}

wiki.{{ misc_domain }} {
    reverse_proxy https://en.wikipedia.org {
        header_up Host en.wikipedia.org
        header_up Accept-Encoding identity

        header_down Location "https://en.wikipedia.org" "https://wiki.{{ misc_domain }}"
        header_down Location "https://zh.wikipedia.org" "https://wikizh.{{ misc_domain }}"
    }

    replace {
        "//en.wikipedia.org" "//wiki.{{ misc_domain }}"
        "//zh.wikipedia.org" "//wikizh.{{ misc_domain }}"
        "//upload.wikimedia.org" "//wikiupload.{{ misc_domain }}"
    }
}

wikizh.{{ misc_domain }} {
    reverse_proxy https://zh.wikipedia.org {
        header_up Host zh.wikipedia.org
        header_up Accept-Encoding identity

        header_down Location "https://en.wikipedia.org" "https://wiki.{{ misc_domain }}"
        header_down Location "https://zh.wikipedia.org" "https://wikizh.{{ misc_domain }}"
    }

    replace {
        "//en.wikipedia.org" "//wiki.{{ misc_domain }}"
        "//zh.wikipedia.org" "//wikizh.{{ misc_domain }}"
        "//upload.wikimedia.org" "//wikiupload.{{ misc_domain }}"
    }
}

wikiupload.{{ misc_domain }} {
    reverse_proxy https://upload.wikimedia.org {
        header_up Host upload.wikimedia.org
    }
}
